{% extends "pycon/base.html" %}

{% load boxes_tags %}

{% block body_class %}about{% endblock %}

{% block main_content %}
    {% box "test" %}
{% endblock %}

{% load boxes_tags %}

{% block body %}
    <div class="span-17 spacer main-content">
        <h1 class="section-title">{% block subpage_title %}À propos de
        <span>PyConFR</span>{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
    <div class="span-7 last">
      {% block sidenav %}
	      <nav class="sidenav">
		  <ul>
		      <li>
			      <a href="{% url about %}" class="active">Qu'est PyConFR?</a>
		      </li>
		      <li>
			      <a href="{% url test %}" class="active">Test</a>
		      </li>
		      {% comment %}
			      <li>
				  <a href="/2012/volunteers/">Volunteers</a>
			      </li>
		      {% endcomment %}
		  </ul>
	      </nav>
      {% endblock %}
    </div>
    <div class="span-24 last">
        <hr />
        <div class="other-sponsors">
            <h6>Sponsors</h6>
        </div>
    </div>
{% endblock %}



