{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}full schedule{% endblock %}

{% block subnav %}
<a href="{% url schedule_tutorials %}">{% trans 'Tutorial Schedule' %}</a>
    |
    <a href="{% url schedule_conference %}">{% trans 'Conference Schedule' %}</a>
    |
    <a href="{% url schedule_list %}">{% trans 'List of Accepted Talks and Panels' %}</a>
    <!--
    |
    <a href="{ url schedule_list_posters }">{ trans 'List of Accepted Posters' }</a>
    |
    <a href="{ url wakawaka_page 'openspaces/index' }">{ trans 'OpenSpaces' }</a>
    -->
{% endblock %}

{% block right %}{% endblock %}
