syntax: glob
*.db
*.swp
*.pyc
*~
*.*~
bin/
clone/
develop-eggs/
downloads/
eggs/
parts/
*.egg-info/
.installed.cfg
src/pyconfr/static/2011/
src/pyconfr/static/admin/
src/pyconfr/static/ajax_validation/
src/pyconfr/static/bootstrap/
src/pyconfr/static/debug_toolbar/
src/pyconfr/static/images/
src/pyconfr/static/markitup/
src/pyconfr/static/pinax/
src/pyconfr/static/uni_form/

