{% extends "venue/base.html" %}

{% load boxes_tags %}

{% block body_id %}venue-info{% endblock %}

{% block content %}
    <div class="map">
        <iframe width="614" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps/ms?msa=0&amp;msid=208764640943880122990.000489c5709973256c15c&amp;ie=UTF8&amp;ll=48.895682,2.387852&amp;spn=0,0&amp;t=m&amp;output=embed&amp;z=15"></iframe><br /><small>Afficher <a href="https://maps.google.fr/maps/ms?msid=208764640943880122990.000489c5709973256c15c&msa=0&ll=48.896074,2.387853&spn=0.000965,0.002642"></iframe>
        <a href="https://maps.google.fr/maps/ms?msid=208764640943880122990.000489c5709973256c15c&msa=0&ll=48.896074,2.387853&spn=0.000965,0.002642&z=15">View Larger Map</a>
    </div>
    {% box "venue_info" %}

{% endblock %}
