{% extends "speakers/base.html" %}

{% load boxes_tags %}
{% load i18n %}

{% block content %}
    
    {% if accepting_proposals %}
        <p>{% box "talk-proposals" %}</p>
        
        <h3>{% trans 'To submit a talk:' %}</h3>
        
        <ol class="steps">
            <li class="next first">
                <a href="{% url acct_signup %}?next={{ request.path }}">{% trans 'Signup' %}</a>
                {% trans 'or' %}
                <a href="{% url acct_login %}?next={{ request.path }}">{% trans 'Signin' %}</a>
            </li>
            <li class="second">{% trans 'create a speaker profile' %}</li>
            <li class="third">{% trans 'submit one or more proposals' %}</li>
        </ol>
    {% else %}
        <p>{% trans 'Talk submissions are now closed and the' %}
            <a href="{% url schedule_list %}">{% trans 'schedule has been announced' %}</a>.
        </p>
        <p>Si vous avez soumis une ou des propositions, vous pouvez accéder au panel en vous
            <a href="{% url acct_login %}?next={{ request.path }}">connectant</a>.
        </p>
    {% endif %}
{% endblock %}
