{% extends "sponsors/base.html" %}

{% load boxes_tags %}
{% load i18n %}

{% block body %}
<!-- <div class="span-17">
    <h1 class="section-title">{% trans 'PyCon <span>Sponsors</span>' %}</h1>
    {% box "sponsors_main" %}
    <h2 class="section-title">{% trans 'Sponsor PyCon 2012' %}</h2>
    {% if user.is_authenticated %}
        {% if user.sponsorship %}
            {% if user.sponsorship.active %}
                <p>{% box "sponsorship-info" %}</p>    
                <ol class="steps">
                    <li class="first done">{% trans 'Sign up and log in' %}</li>
                    <li class="second done">{% trans 'Apply to be a sponsor' %}</li>
                    <li class="third"><a href="{% url sponsor_detail user.sponsorship.pk %}">{% trans 'Manage sponsorship details' %}</a></li>
                </ol>
            {% else %}
            <p>{% box "sponsorship-info" %}</p>
            <ol class="steps">
                <li class="first done">{% trans 'Sign up and log in' %}</li>
                <li class="second done">{% trans 'Apply to be a sponsor' %}</li>
                <li class="third next">{% trans 'Await application processing' %}</li>
            </ol>
            {% endif %}
        {% else %}
            <p>{% box "sponsorship-info" %}</p>

            <ol class="steps">
                <li class="first done">{% trans 'Sign up and log in' %}</li>
                <li class="second next"><a href="{% url sponsor_apply %}">{% trans 'Apply to be a sponsor' %}</a></li>
                <li class="third">{% trans 'Await application processing' %}</li>
            </ol>

        {% endif %}
    {% else %}
        <p>{% box "sponsorship-info" %}</p>

        <ol class="steps">
            <li class="first next"><a href="{% url acct_signup %}?next={{ request.path }}">{% trans 'Sign up' %}</a> {% trans 'and' %} <a href="{% url acct_login %}?next={{ request.path }}">{% trans 'log in' %}</a></li>
            <li class="second">{% trans 'Apply to be a sponsor' %}</li>
            <li class="third">{% trans 'Await application processing' %}</li>
        </ol>
    {% endif %}
</div>
-->
<div class="span-7 last">
    {% include "sponsors/_sponsors_sidebar.html" %}
</div>
{% endblock %}
