{% extends "sponsors/base.html" %}

{% load boxes_tags %}
{% load sponsors_tags %}
{% load thumbnail %}
{% load i18n %}
{% load pyconfr_tags %}

{% block body %}

    {% sponsors "diamond" as diamond_sponsors %}
    {% sponsors "gold" as gold_sponsors %}
    {% sponsors "bronze" as bronze_sponsors %}

    <div class="span-17 spacer main-content">
        <h1 class="section-title">{% block subpage_title %}{% trans 'À propos des sponsors <span>PyConFr</span>' %}{% endblock %}</h1>
        <p>{% box "sponsorship" %}</p> 
        <div class="sponsor-list">
            {% sponsor_infos 'diamond' diamond_sponsors %}
            {% sponsor_infos 'gold' gold_sponsors %}
            {% sponsor_infos 'bronze' bronze_sponsors %}
        </div>
    </div>
    <div class="span-7 last">
        {% include "sponsors/_subnav1.html" %}
        <p><a href="{% url sponsor_info %}" class="btn-sponsor"><span>En savoir plus <br/><b>→ Sponsor</b></span></a></p>
        <nav class="sidenav sponsor-sidenav">
            <ul>
                {% for s in diamond_sponsors %}<li class='diamond'><a href="#sponsor-diamond-{{ s.id }}">{{ s.name }}</a></li>{% endfor %}
                {% for s in gold_sponsors %}<li class='gold'><a href="#sponsor-gold-{{ s.id }}">{{ s.name }}</a></li>{% endfor %}
                {% for s in bronze_sponsors %}<li class='bronze'><a href="#sponsor-bronze-{{ s.id }}">{{ s.name }}</a></li>{% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}
