{% extends "sponsors/base.html" %}

{% load boxes_tags %}

{% block body %}
<div class="span-17">
    <h1 class="section-title"><span>Parrainer</span> PyConFR</h1>
    {% box "sponsors-sponsorship" %}
</div>
<div class="span-7 last">
    {% include "sponsors/_subnav1.html" %}
    {% include "sponsors/_sponsors_sidebar.html" %}
    <nav class="sidenav sponsor-sidenav">
	<ul>
	    {% for sponsor in sponsors %}
		<li><a href="#sponsor-{{ sponsor.id }}">{{ sponsor.name }}</a></li>
	    {% endfor %}
	</ul>
    </nav>

</div>
{% endblock %}
