{% extends "proposals/base.html" %}

{% load uni_form_tags %}

{% block content %}
    <h1>Proposition: {{ proposal.title }}</h1>
    
    <p><a href="{% url proposal_edit proposal.pk %}">Editer la soumission</a></p>
    
    <h2>Conférenciers confirmés</h2>
    
    {% for speaker in speakers %}
        {% if speaker.user %}
            <p><b>{{ speaker.name }}</b> &mdash; {{ speaker.email }}</p>
        {% else %}
            <p>{{ speaker.email }} &mdash; invitation en attente</p>
        {% endif %}
    {% endfor %}
    
    <h2>Ajouter un autre conférencier</h2>
    
    <form method="POST" action="" enctype="multipart/form-data" class="uniForm">
        {% csrf_token %}
        <fieldset>
            {{ add_speaker_form|as_uni_form }}
            <div class="form_block">
                <input type="submit" value="ajouter" />
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
    $(function() {
        $("#id_email").focus();
    });
    </script>
{% endblock %}
