{% extends "proposals/base.html" %}

{% load boxes_tags %}
{% load markitup_tags %}
{% load uni_form_tags %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/facebox.css" />
    <style>
        .uniForm .formHint {
            margin-top: 8px;
            width: 99%;
        }
        #div_id_kind ul li {
            display: inline;
        }
        #div_id_extreme label {
            display: inline;
        }
        .uniForm .textInput,
        .uniForm .fileUpload,
        .uniForm .selectInput,
        .uniForm select,
        .uniForm textarea {
            width: 80%;
        }
        .uniForm textarea {
            margin: -10px 0 0 0;
        }
        .uniForm div.markItUp {
            margin: -10px 0 0 0;
        }
        .markItUp .markItUpHeader ul,
        .markItUp textarea {
            width: 100%;
        }
        .markItUp .markItUpHeader ul {
            margin: 0 0 8px 8px;
        }
        #markItUpId_additional_notes {
            margin: -20px 0 0 0;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/proposals.css" />
{% endblock %}


{% block content %}
    <h1>{% trans 'Submit A Proposal' %}</h1>
    
    {% box "example_proposal" %}
    
    {% markitup_media %}
    <form method="POST" action="" enctype="multipart/form-data" class="uniForm">
        {% csrf_token %}
        <fieldset>
            {{ form|as_uni_form }}
            <div class="form_block">
                <div>Vous pourrez éditer votre proposition après la soumission. Le comité du programe peut vous poser des questions, ou vous donner du feedback, ou même changer votre proposition lors de la revue.</div>
                <input type="submit" name="finish" value="Enregistrer" />
                <!-- <span style="float: right; padding: 4px 6px">or</span> -->
                <input type="submit" name="add-speakers" value="+ ajouter des conférenciers" />
            </div>
        </fieldset>
    </form>
{% endblock %}
